<ion-view view-title="Home">
  <ion-content>
  
  <div id="homePage">
    <h1>Jen Williams</h1>
	<p>43 Claire's Hearts</p>
	
	<div id="heartId">
	
	<div class="bg-text">

	
		<p>Scan your heart at till to each more hearts and claime your dedeemed rewards</p>
		
		<img src="img/pink-heart.png" alt="Heart">
		
		<div>		
		
		<p id="heartsID">1234 5678</p>
		
			<button class="button button-stable" id="share_hearts">
				Share Hearts
			</button>
		
		</div>
	
	</div>
	

	</div>
	
	
	
</div>
  </ion-content>
</ion-view>
